// OPERACIONES
$spacing: 5px;

.navegador-uno {

    background-image: url('../imagenes/header.jpg');
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    height: 700px;

}

.logo {
    max-width: 300px;
    max-height: 100px;
}

nav {
    p {
        margin-top: 0;
        margin-bottom: 1000px;
        padding: 0;
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 14px;
        color: white;
    }

    img {
        max-width: 320px;
        max-height: 200px;
        padding: 0px;
        margin-left: $spacing*2 !important;
    }
    ul {
        margin-left: 400px;

        li {
            font-size: 23px;
            margin-top: $spacing*2;
            padding: $spacing*3;
            font-family: 'Mulish', sans-serif !important;
        }
    }
}


.navegador-dos {
    height: 500px;
    background-image: url('../imagenes/contactofondo.png');
    background-position: center;

    img {
        max-width: 260px;
        max-height: 160px;
        padding: 0px;
    
    }

    div {
        ul {
            li {
                margin-top: $spacing*8;
            
            }
        }
    }
}


.navegador-tres {
    display: flex;
    justify-content: space-between;
    height: 150px;
    background-color: #ffffff;

    img {
        width: 260px;
        height: 160px;
        padding: 0px;
        margin-left: $spacing*4;
    }

    div {
        ul {
            li {
                margin-top: $spacing*12;
                font-family: 'Mulish', sans-serif;
            }
        }
    }
}


.navegador-dos {
    div {
        ul {
            li 
            a {
                color: rgb(79, 79, 79);
            }
        }
    }
}
.navegador-tres {
    div {
        ul {
            li 
            a {
                color: rgb(79, 79, 79);
            }
        }
    }
}

