// OPERACIONES
$spacing: 5px;

// .navegador-uno {

//     background-image: url('../imagenes/header.jpg');
//     background-size: cover;
//     background-position-y: center;
//     background-attachment: fixed;
//     height: 700px;

// }

.btn-2:after,
.btn-2:before {
    backface-visibility: hidden;
    border: 1px solid rgba(rgb(255, 255, 255), 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 450ms ease-in-out;
    width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 450ms ease-in-out;
    width: 90%;
}

.btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 90%;
}





.navegador-uno {
    background-color: rgb(255, 237, 244);
    height: 110px;
    margin: 14px 0px;
}

.navbar {
    padding: 0px;
    height: 100px;
}

.navegador-dos div ul li {
    margin-top: 0px !important;

}

.header-img {
    background-image: url('../imagenes/headerblur.jpg');
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    padding: 50px;

    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
        display: flex;
        justify-content: center;
        font-size: 55px;
        font-family: 'Satisfy', cursive;
        color: rgb(185, 78, 137);

    }

    p {
        font-size: 23px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
}

.header-img-dos {
    background-image: url('../imagenes/contactofondo.png');
    background-size: contain;
    background-position-y: center;
    background-attachment: fixed;
    padding: 50px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 0;
    font-family: 'Mulish', sans-serif;
    align-items: center;
    text-align: center;
    color: $color-secondary;
    font-size: 42px;

}

nav {
    img {
        max-width: 110px;
        max-height: 100px;
        padding: 0px;
        margin-top: 10px;
        margin-left: $spacing*10;
    }

    ul {
        margin-left: 300px;

        li {
            font-size: 19px;
            margin-top: $spacing*3;
            padding: $spacing*2;
            font-family: 'Poppins', sans-serif;
        }
    }
}